*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: grid;
    grid-template-columns: 300px 1fr;
}
.nav{
    padding-top: 30px;
    background: linear-gradient(135deg, #667eea, #4a2374);
}
.h1-center{
    text-align: center;
}
.buttons{
    display: grid;
    margin: 30px 20px 10px 20px;
}
.buttons button{
    padding: 6px;
    border-radius: 3px;
    border: 1px solid white;
    margin-top: 5px;
    cursor: pointer;
}

.main{
    margin: 10px 40px 10px 20px;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.adjust-top{
    margin-top: 20px;
}

.info{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info .box{
    background-color: white;
    width: 180px;
    padding: 30px 10px;
}

.info .box .count{
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 30px;
}

.user-icon{
    width: 30px;
    margin-right: 5px;
}

.username{
    display: flex;
    align-items: center;
}

.active{
    background-color: rgb(62, 62, 62);
    color: white;
}